/* CSS declarations go here */
.thumbnails {
	min-height: 400px;
}
.thumbnail {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-bottom:.1em;
}
.animated {
/*
	position: relative;
	transition: 0.6s;
	transform-style: preserve-3d;
	transform: rotateY(180deg);
*/
	opacity: 1;
/*	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
*/	
	transition: opacity 2s ease-in-out;
}
.animated.off {
  opacity: 0;
  /*transform: rotateY(0deg);*/
}
.thumbnail.rotate {
	transition: 0.6s;
	transform-style: preserve-3d;
	transform: rotateY(180deg);
}
.image-size {
	font-size: 8px;
	color: #ccc;
	/*text-align: center;*/
}
.user_images {
	overflow: initial;
	height:100%;
	margin-bottom: 1em;
}
.hidden {
	display: none;
}
.banned {
	text-decoration: line-through;
}
.fullscreen {
	top: 60px;
	left: 5%;
	position: absolute;
	background-size: contain;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-position: center;
	/* compensate for body margin */
	/*margin-top: -50px;*/
	display: table;
	width: 90%;
	height: 90%; /* For at least Firefox */
	z-index: -10;
}

div.image.buttons {
	position:absolute;
	bottom:30px;
	right:30px;
}
.starter-template {
	/*position: relative;*/
}
.image-info {
	background-color: white;
	display: inline-block;
	opacity: 0.7;
}
form {
	min-height: 5em;
}
a.carousel {
	color: red;
	font-size: 250%;
	z-index: 1000;
}
a.carousel.next {
	position: absolute;
	right:5px;
	top: 50%;
}
a.carousel.prev {
	position: absolute;
	left:5px;
	top: 50%;
}